{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <h1 class="text-center mt-5 mb-5">{{ title }}</h1>
      </div>
      <div class="col-xl-4">
        <img src="{{ object.image.url }}" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        {% if apply_form %}
          <form action="" method="POST"> {% csrf_token %}
            {{ apply_form }}
            <input type="submit" placeholder="Submit">
          </form>
        {% endif %}
      </div>
    </div>
    {% if products %}
    <div class="row">
      <div class="col-xl-4">
        <a class="btn btn-success" href="#">All transactions</a>
      </div>
      <div class="col-xl-4 offset-xl-4">
        <a class="btn btn-success" href="{% url "sellers:product_add" %}">Add product</a>
        <a class="btn btn-primary" href="{% url "sellers:product_list" %}">All products</a>
      </div>
    </div>
      <div class="row">
        <div class="col-xl-12">
            {% include "products/seller-list.html" with object_list=products %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
