{% url 'index' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as products_list_url %}
{% url 'categories:list' as categories_list_url %}
{% url 'collections:list' as collections_list_url %}
{% url 'about' as about_url %}
{% url 'terms' as terms_url %}
{% url 'policy' as policy_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}
{% url 'sellers:dashboard' as dashboard_url %}
{% load static %}
<footer class="footer">
  <div class="container">
    <div class="footer-main_row">
      <div class="footer-social-column">
        <div class="footer-social-column-title">
          <h4>Follow us:</h4>
        </div>
        <div class="footer-social-column-links d-flex">
            <a href="https://www.instagram.com/4prototypes/" target="blank">
              <svg class="icon">
                <use xlink:href="#icon_instagram"></use>
              </svg>
            </a>
            <a href="https://www.facebook.com/4prototypes/" target="blank">
              <svg class="icon">
                <use xlink:href="#icon_facebook"></use>
              </svg>
            </a>
            <a href="https://twitter.com/4prototypes" target="blank">
              <svg class="icon">
                <use xlink:href="#icon_twitter"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/company/4prototypes/" target="blank">
              <svg class="icon">
                <use xlink:href="#icon_linkedin"></use>
              </svg>
            </a>
            <a href="https://www.youtube.com/channel/UCVLZmDKeT-mV4H3ToYXIFYg" target="blank">
              <svg class="icon">
                <use xlink:href="#icon_youtube"></use>
              </svg>
            </a>
          </div>
      </div>
      <div class="footer-nvaigation-column">
        <div class="footer-navigation-column-links"><a href="{{ about_url }}">About Us</a>
          <a href="{{ terms_url }}">Terms of Use</a>
          <a href="{{ policy_url }}">Privacy Policy</a>
          <a href="#">Cookie Policy</a>
        </div>
      </div>
      <div class="footer-info-column">
        <div class="footer-info-column-top-row">
          <a class="footer-primary-button" href="#">Join Us</a>
          <!-- <select id="year">
            <option value="hide">En</option>
            <option value="RU">Ru</option>
            <option value="ES">Es</option>
          </select> -->
        </div>
        <div class="footer-info-column-bottom-row"><a href="mailto:info@4prototypes.com" title="Mail to info@4prototypes.com">info@4prototypes.com</a></div>
      </div>
    </div>
    <div class="footer-secondary-row"><span>Copyright © 2018 4prototypes, Inc.</span></div>
  </div>
</footer>
<div class="footer-mobile-nav">
  <div class="navigation-links">
    <nav class="other" id="otherMenu" role="navigation">
      <div class="inner-menu">
        <ul>
          <li class="inner-menu__item"><a href="{{ about_url }}">About us</a>
            <svg class="inner-menu__icon">
              <use xlink:href="#nav-arrow"></use>
            </svg>
          </li>
        </ul>
        <ul>
          <li class="inner-menu__item"><a href="{{ terms_url }}">Terms of service</a>
            <svg class="inner-menu__icon">
              <use xlink:href="#nav-arrow"></use>
            </svg>
          </li>
          <li class="inner-menu__item"><a href="{{ policy_url }}">Privacy policy</a>
            <svg class="inner-menu__icon">
              <use xlink:href="#nav-arrow"></use>
            </svg>
          </li>
          <li class="inner-menu__item"><a href="#">Cookie policy</a>
            <svg class="inner-menu__icon">
              <use xlink:href="#nav-arrow"></use>
            </svg>
          </li>
        </ul>
      </div>
    </nav>
    <nav id="catalogMenu" role="navigation">
      <ul class="catalog-list">
        <li class="item">
							<svg class="item__icon">
								<use xlink:href="#nav_smarthome"></use>
							</svg><span>Smart home</span>
							<label class="item__label" for="menu-1"></label>
							<input class="item__label-checkbox" id="menu-1" type="checkbox" name="menu-1">
							<div class="inner-menu">
								<label class="inner-menu__toggle" for="menu-1">
									<svg class="inner-menu__icon">
										<use xlink:href="#nav-arrow"></use>
									</svg><span>Smart Home</span>
								</label>
								<ul>
									<li class="inner-menu__item"><a href="/subcategories/security-cameras/">Home Security Cameras</a></li>
									<li class="inner-menu__item"><a href="/subcategories/doorbells/">Smart Doorbells</a></li>
									<li class="inner-menu__item"><a href="/subcategories/door-locks/">Smart Door Locks</a></li>
									<li class="inner-menu__item"><a href="/subcategories/automation-hubs/">Window and Door Sensors</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/window-and-door-sensors/">Smart Home Automation Hubs</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/mirrors/">Smart Mirrors</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/light-bulbs/">Smart Light Bulbs</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/weather-stations/">Smart Home Weather Stations</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/smart-air-conditioners/">Smart Air Conditioners</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/kitchen-gadgets/">Smart Kitchen Gadgets</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/safes/">Smart Safes</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/smoke-alarms/">Smart Smoke Alarms</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/sleep-gadgets/">Sleep Gadgets</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/smart-air-conditioners/">Smart Air Conditioners</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/alarm-clocks/">Smart Alarm Clocks</a></li>
								</ul>
							</div>
						</li>
            <li class="item">
                  <svg class="item__icon">
                    <use xlink:href="#nav_smarthome-systems"></use>
                  </svg><span>Smart Home Brands</span>
                  <label class="item__label" for="menu-2"></label>
                  <input class="item__label-checkbox" id="menu-2" type="checkbox" name="menu-2">
                  <div class="inner-menu">
                    <label class="inner-menu__toggle" for="menu-2">
                      <svg class="inner-menu__icon">
                        <use xlink:href="#nav-arrow"></use>
                      </svg><span>Smart Home Brands</span>
                    </label>
                    <ul>
                      <li class="inner-menu__item"><a href="/subcategories/google-home-devices/">Google Home Devices</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/nest-products/">Nest Products</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/apple-homekit-devices/">Apple Homekit Devices</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/amazon-alexa-devices/">Amazon Alexa Devices</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/philips-hue-products/">Philips Hue Products</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/wink-products/">Wink Products</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/samsung-smartthings-devices/">Samsung SmartThings Devices</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/lutron-products/">Lutron Products</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/belkin-wemo-devices/">Belkin Wemo Devices</a></li>
                    </ul>
                  </div>
                </li>
                <li class="item">
                      <svg class="item__icon">
                        <use xlink:href="#nav_phones"></use>
                      </svg><span>Phones And Accessories</span>
                      <label class="item__label" for="menu-3"></label>
                      <input class="item__label-checkbox" id="menu-3" type="checkbox" name="menu-3">
                      <div class="inner-menu">
                        <label class="inner-menu__toggle" for="menu-3">
                          <svg class="inner-menu__icon">
                            <use xlink:href="#nav-arrow"></use>
                          </svg><span>Phones And Accessories</span>
                        </label>
                        <ul>
                          <li class="inner-menu__item"><a href="/subcategories/phones-and-smartphones/">Phones and Smartphones</a></li>
                          <li class="inner-menu__item"><a href="/subcategories/power-banks/">Power Banks</a></li>
                          <li class="inner-menu__item"><a href="/subcategories/phone-cases/">Phone Cases</a></li>
                          <li class="inner-menu__item"><a href="/subcategories/bluetooth-speakers/">Bluetooth Speakers</a></li>
                          <li class="inner-menu__item"><a href="/subcategories/bluetooth-headsets/">Bluetooth Headsets</a></li>
                          <li class="inner-menu__item"><a href="/subcategories/selfie-sticks/">Selfie Sticks</a></li>
                          <li class="inner-menu__item"><a href="/subcategories/touch-screen-gloves/">Touch Screen Gloves</a></li>
                          <li class="inner-menu__item"><a href="/subcategories/stylus-pens/">Stylus Pens</a></li>
                          <li class="inner-menu__item"><a href="/subcategories/charging-stations/">Charging Stations</a></li>
                          <li class="inner-menu__item"><a href="/subcategories/power-adapters/">Power Adapters</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item">
                          <svg class="item__icon">
                            <use xlink:href="#nav_computers"></use>
                          </svg><span>Computers and Tablets</span>
                          <label class="item__label" for="menu-4"></label>
                          <input class="item__label-checkbox" id="menu-4" type="checkbox" name="menu-4">
                          <div class="inner-menu">
                            <label class="inner-menu__toggle" for="menu-4">
                              <svg class="inner-menu__icon">
                                <use xlink:href="#nav-arrow"></use>
                              </svg><span>Computers and Tablets</span>
                            </label>
                            <ul>
                              <li class="inner-menu__item"><a href="/subcategories/laptops/">Laptops</a></li>
                              <li class="inner-menu__item"><a href="#">Dekstop Computers</a></li>
                              <li class="inner-menu__item"><a href="/subcategories/tablets/">Tablets</a></li>
                              <li class="inner-menu__item"><a href="/subcategories/digital-paper-tablets/">Digital Paper Tablets</a></li>
                            </ul>
                          </div>
                        </li>
                        <li class="item">
                              <svg class="item__icon">
                                <use xlink:href="#nav_cameras"></use>
                              </svg><span>Сameras</span>
                              <label class="item__label" for="menu-5"></label>
                              <input class="item__label-checkbox" id="menu-5" type="checkbox" name="menu-5">
                              <div class="inner-menu">
                                <label class="inner-menu__toggle" for="menu-5">
                                  <svg class="inner-menu__icon">
                                    <use xlink:href="#nav-arrow"></use>
                                  </svg><span>Сameras</span>
                                </label>
                                <ul>
                                  <li class="inner-menu__item"><a href="/subcategories/dslr-cameras/">DSLR Cameras</a></li>
                                  <li class="inner-menu__item"><a href="/subcategories/360-cameras/">360 Cameras</a></li>
                                  <li class="inner-menu__item"><a href="/subcategories/digital-cameras/">Digital Cameras</a></li>
                                  <li class="inner-menu__item"><a href="/subcategories/camcorders/">Camcorders</a></li>
                                  <li class="inner-menu__item"><a href="/subcategories/waterproof-cameras/">Waterproof Cameras</a></li>
                                  <li class="inner-menu__item"><a href="/subcategories/4k-video-cameras/">4K Video Cameras</a></li>
                                  <li class="inner-menu__item"><a href="/subcategories/action-cameras/">Action Cameras</a></li>
                                  <li class="inner-menu__item"><a href="/subcategories/instant-cameras/">Instant Cameras</a></li>
                                  <li class="inner-menu__item"><a href="/subcategories/camera-accessories/">Camera Accessories</a></li>
                                </ul>
                              </div>
                            </li>
                            <li class="item">
                                  <svg class="item__icon">
                                    <use xlink:href="#nav_transport"></use>
                                  </svg><span>Personal Transportation</span>
                                  <label class="item__label" for="menu-7"></label>
                                  <input class="item__label-checkbox" id="menu-7" type="checkbox" name="menu-7">
                                  <div class="inner-menu">
                                    <label class="inner-menu__toggle" for="menu-7">
                                      <svg class="inner-menu__icon">
                                        <use xlink:href="#nav-arrow"></use>
                                      </svg><span>Personal Transportation</span>
                                    </label>
                                    <ul>
                                      <li class="inner-menu__item"><a href="/subcategories/hoverboards/">Hoverboards</a></li>
                                      <li class="inner-menu__item"><a href="/subcategories/segways/">Segways</a></li>
                                      <li class="inner-menu__item"><a href="/subcategories/electric-bikes/">Electric Bikes</a></li>
                                      <li class="inner-menu__item"><a href="/subcategories/electric-scooters/">Electric Scooters</a></li>
                                      <li class="inner-menu__item"><a href="/subcategories/electric-skateboards/">Electric Skateboards</a></li>
                                      <li class="inner-menu__item"><a href="/subcategories/monowheels/">Electric Unicycle</a></li>
                                      <li class="inner-menu__item"><a href="/subcategories/electric-motorcycles/">Electric Motorcycles</a></li>
                                      <li class="inner-menu__item"><a href="/subcategories/hoverbikes/">Hoverbikes</a></li>
                                      <li class="inner-menu__item"><a href="/subcategories/electric-surfboard/">Electric Surfboard</a></li>
                                      <li class="inner-menu__item"><a href="/subcategories/electric-mini-bikes/">Electric Mini Bikes</a></li>
                                    </ul>
                                  </div>
                                </li>
          <li class="item">
                <svg class="item__icon">
                  <use xlink:href="#nav_drones"></use>
                </svg><span>Drones</span>
                <label class="item__label" for="menu-8"></label>
                <input class="item__label-checkbox" id="menu-8" type="checkbox" name="menu-8">
                <div class="inner-menu">
                  <label class="inner-menu__toggle" for="menu-8">
                    <svg class="inner-menu__icon">
                      <use xlink:href="#nav-arrow"></use>
                    </svg><span>Drones</span>
                  </label>
                  <ul>
                    <li class="inner-menu__item"><a href="/subcategories/camera-drones/">Camera Drones</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/quadcopters/">Quadcopters</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/mini-drones/">Mini Drones</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/fpv-drones/">FPV Drones</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/drone-helicopters/">Drone Helicopters</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/drone-kits/">Drone Kits</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/toy-drones/">Toy Drones</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/hexacopters/">Hexacopters</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/drone-airplanes/">Drone Airplanes</a></li>
                  </ul>
                </div>
              </li>
              <li class="item">
                    <svg class="item__icon">
                      <use xlink:href="#nav_robots"></use>
                    </svg><span>Robots</span>
                    <label class="item__label" for="menu-9"></label>
                    <input class="item__label-checkbox" id="menu-9" type="checkbox" name="menu-9">
                    <div class="inner-menu">
                      <label class="inner-menu__toggle" for="menu-9">
                        <svg class="inner-menu__icon">
                          <use xlink:href="#nav-arrow"></use>
                        </svg><span>Robots</span>
                      </label>
                      <ul>
                        <li class="inner-menu__item"><a href="/subcategories/robot-toys/">Robot Toys</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/robots-cleaners/">Robot Cleaners</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/robot-pets/">Robot Pets</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/humanoid-robots/">Humanoid Robots</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/robotic-arms/">Robotic Arms</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/robot-kits/">Robot Kits</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/spider-robots/">Spider Robots</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/robot-companions/">Robot Companions</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/telepresence-robots/">Telepresence Robots</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/beam-robots/">Beam Robots</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/robot-manipulators/">Robot Manipulators</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/security-robots/">Security Robots</a></li>
                        <li class="inner-menu__item"><a href="/subcategories/wheeled-robots/">Wheeled Robots</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="item">
                        <svg class="item__icon">
                          <use xlink:href="#nav_health"></use>
                        </svg><span>Health & Fitness</span>
                        <label class="item__label" for="menu-10"></label>
                        <input class="item__label-checkbox" id="menu-10" type="checkbox" name="menu-10">
                        <div class="inner-menu">
                          <label class="inner-menu__toggle" for="menu-10">
                            <svg class="inner-menu__icon">
                              <use xlink:href="#nav-arrow"></use>
                            </svg><span>Health & Fitness</span>
                          </label>
                          <ul>
                            <li class="inner-menu__item"><a href="/subcategories/fitness-trackers/">Fitness Trackers</a></li>
                            <li class="inner-menu__item"><a href="/subcategories/sleep-trackers/">Sleep Trackers</a></li>
                            <li class="inner-menu__item"><a href="/subcategories/body-fat-scale/">Body Fat Scale</a></li>
                            <li class="inner-menu__item"><a href="/subcategories/sleep-gadgets/">Sleep Gadgets</a></li>
                            <li class="inner-menu__item"><a href="/subcategories/stress-relief-gadgets/">Stress Relief Gadgets</a></li>
                            <li class="inner-menu__item"><a href="/subcategories/beauty-devices/">Beauty Devices</a></li>
                          </ul>
                        </div>
                      </li>
                      <li class="item">
                            <svg class="item__icon">
                              <use xlink:href="#nav_wearable"></use>
                            </svg><span>Wearable Devices</span>
                            <label class="item__label" for="menu-11"></label>
                            <input class="item__label-checkbox" id="menu-11" type="checkbox" name="menu-11">
                            <div class="inner-menu">
                              <label class="inner-menu__toggle" for="menu-11">
                                <svg class="inner-menu__icon">
                                  <use xlink:href="#nav-arrow"></use>
                                </svg><span>Wearable Devices</span>
                              </label>
                              <ul>
                                <li class="inner-menu__item"><a href="/subcategories/gps-trackers/">GPS Trackers</a></li>
                                <li class="inner-menu__item"><a href="/subcategories/sport-watches/">Sport Watches</a></li>
                                <li class="inner-menu__item"><a href="/subcategories/smart-glasses/">Smart Glasses</a></li>
                                <li class="inner-menu__item"><a href="/subcategories/smart-helmets/">Smart Helmets</a></li>
                                <li class="inner-menu__item"><a href="/subcategories/wearsafes/">Wearsafe</a></li>
                              </ul>
                            </div>
                          </li>
        <li class="item">
              <svg class="item__icon">
                <use xlink:href="#nav_audio"></use>
              </svg><span>Audio Devices</span>
              <label class="item__label" for="menu-12"></label>
              <input class="item__label-checkbox" id="menu-12" type="checkbox" name="menu-12">
              <div class="inner-menu">
                <label class="inner-menu__toggle" for="menu-12">
                  <svg class="inner-menu__icon">
                    <use xlink:href="#nav-arrow"></use>
                  </svg><span>Audio Devices</span>
                </label>
                <ul>
                  <li class="inner-menu__item"><a href="/subcategories/sound-bars/">Sound Bars</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/speakers/">Speakers</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/wireless-headphones/">Wireless Headphones</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/over-ear-headphones/">Over Ear Headphones</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/earbuds/">Earbuds</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/speaker-systems/">Speaker Systems</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/outdoor-speakers/">Outdoor Speakers</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/computer-speakers/">Computer Speakers</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/wireless-audio-receivers/">Wireless Audio Receivers</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/sport-headphones/">Sport Headphones</a></li>
                  <li class="inner-menu__item"><a href="/subcategories/kids-headphones/">Kids Headphones</a></li>
                </ul>
              </div>
            </li>
            <li class="item">
                  <svg class="item__icon">
                    <use xlink:href="#nav_printers"></use>
                  </svg><span>3D Printers</span>
                  <label class="item__label" for="menu-13"></label>
                  <input class="item__label-checkbox" id="menu-13" type="checkbox" name="menu-13">
                  <div class="inner-menu">
                    <label class="inner-menu__toggle" for="menu-13">
                      <svg class="inner-menu__icon">
                        <use xlink:href="#nav-arrow"></use>
                      </svg><span>3D Printers</span>
                    </label>
                    <ul>
                      <li class="inner-menu__item"><a href="/subcategories/3d-pens/">3D Pens</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/desktop-3d-printers/">Desktop 3D Printers</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/3d-printers-kits/">3D Printers Kits</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/industrial-3d-printers/">Industrial 3D Printers</a></li>
                      <li class="inner-menu__item"><a href="/subcategories/mini-3d-printer/">Mini 3D Printers</a></li>
                    </ul>
                  </div>
                </li>
      <li class="item">
            <svg class="item__icon">
              <use xlink:href="#nav_solar"></use>
            </svg><span>Solar Products</span>
            <label class="item__label" for="menu-14"></label>
            <input class="item__label-checkbox" id="menu-14" type="checkbox" name="menu-14">
            <div class="inner-menu">
              <label class="inner-menu__toggle" for="menu-14">
                <svg class="inner-menu__icon">
                  <use xlink:href="#nav-arrow"></use>
                </svg><span>Solar Products</span>
              </label>
              <ul>
                <li class="inner-menu__item"><a href="/subcategories/solar-lights/">Solar Lights</a></li>
                <li class="inner-menu__item"><a href="/subcategories/solar-garden-lights/">Solar Garden Lights</a></li>
                <li class="inner-menu__item"><a href="/subcategories/solar-phone-chargers/">Solar Phone Chargers</a></li>
                <li class="inner-menu__item"><a href="/subcategories/solar-lanterns/">Solar Lanterns</a></li>
                <li class="inner-menu__item"><a href="/subcategories/solar-oven/">Solar Oven</a></li>
                <li class="inner-menu__item"><a href="/subcategories/solar-backpacks/">Solar Backpacks</a></li>
                <li class="inner-menu__item"><a href="/subcategories/solar-bluetooth-speaker/">Solar Bluetooth Speaker</a></li>
              </ul>
            </div>
          </li>
          <li class="item">
                <svg class="item__icon">
                  <use xlink:href="#nav_skeleton"></use>
                </svg><span>Exoskeletons and Prosthetics</span>
                <label class="item__label" for="menu-15"></label>
                <input class="item__label-checkbox" id="menu-15" type="checkbox" name="menu-15">
                <div class="inner-menu">
                  <label class="inner-menu__toggle" for="menu-15">
                    <svg class="inner-menu__icon">
                      <use xlink:href="#nav-arrow"></use>
                    </svg><span>Exoskeletons and Prosthetics</span>
                  </label>
                  <ul>
                    <li class="inner-menu__item"><a href="/subcategories/prosthetic-arms/">Prosthetic Arms</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/prosthetic-legs/">Prosthetic Legs</a></li>
                    <li class="inner-menu__item"><a href="/subcategories/industrial-exoskeletons/">Industrial Exoskeletons</a></li>
                  </ul>
                </div>
              </li>
        <li class="item">
          <a  class="{% if request.path == collections_list_url %}{% endif %}" href="{{ collections_list_url }}"><svg class="item__icon">
            <use xlink:href="#nav_collections"></use>
          </svg></a><span>Collections</span>
        </li>
      </ul>
    </nav>
      <a class="navigation-links__button" href="/">
        <svg class="item__icon logo">
          <use xlink:href="#logo"></use>
        </svg><span>Main</span>
      </a>
      <a class="navigation-links__button catalog-link" href="#">
        <svg class="item__icon">
          <use xlink:href="#icon_catalog"></use>
        </svg><span>All products</span>
      </a>
      <a class="navigation-links__button" href="/search/?q=">
        <svg class="item__icon">
          <use xlink:href="#icon_search-01"></use>
        </svg><span>Search</span>
      </a>
      <a class="navigation-links__button other-link" href="">
        <svg class="item__icon">
						<use xlink:href="#icon_profile"></use>
					</svg><span>Profile</span>
      </a>
  </div>
</div>
