{% url 'index' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as products_list_url %}
{% url 'categories:list' as categories_list_url %}
{% url 'collections:list' as collections_list_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}
{% url 'account:home' as account_url %}
{% url 'sellers:dashboard' as dashboard_url %}
{% load static %}
<header class="header-navigation">
			<div class="top-navigation dark-nav">
				<div class="top-navigation__logo"><a href="{{ home_url }}"><img class="icon" src="{% static 'img/new-logo.svg' %}"></a></div>
				<div class="top-navigation__menu">
					<ul class="navbar">
						<li class="navbar__list-item"><span class="navbar__list-item-title">Browse</span>
							<ul class="navbar__inner-list" id="navbar-list">
								<li class="navbar__inner-list-item"><span class="navbar__list-item-title">Categories</span>
                  {% if categories %}
  									<ul class="navbar__inner-list">
                      {% for category in categories %}
    										<li class="navbar__inner-list-item"><a href="{{ category.get_absolute_url }}"><span class="navbar__list-item-title">{{ category.title }}</span></a></li>
                      {% endfor %}
  									</ul>
                  {% endif %}
								</li>
								<li class="navbar__inner-list-item"><a href="/categories/smart-home/"><span class="navbar__list-item-title">Smart Home</span></a>
									<ul class="navbar__inner-list">
											<li class="navbar__inner-list-item"><a href="/subcategories/automation-hubs/"><span class="navbar__list-item-title">Smart Home Automation Hubs</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/door-locks/"><span class="navbar__list-item-title">Smart Door Locks</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/window-and-door-sensors/"><span class="navbar__list-item-title">Window and Door Sensors</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/smart-air-conditioners/"><span class="navbar__list-item-title">Smart Air Conditioners</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/security-cameras/"><span class="navbar__list-item-title">Home Security Cameras</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/light-bulbs/"><span class="navbar__list-item-title">Smart Light Bulbs</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/sleep-gadgets/"><span class="navbar__list-item-title">Sleep Gadgets</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/kitchen-gadgets/"><span class="navbar__list-item-title">Smart Kitchen Gadgets</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/mirrors/"><span class="navbar__list-item-title">Smart Mirrors</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/weather-stations/"><span class="navbar__list-item-title">Smart Home Weather Stations</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/sockets/"><span class="navbar__list-item-title">Smart Sockets</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/safes/"><span class="navbar__list-item-title">Smart Safes</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/smoke-alarms/"><span class="navbar__list-item-title">Smart Smoke Alarms</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/alarm-clocks/"><span class="navbar__list-item-title">Smart Alarm Clocks</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/doorbells/"><span class="navbar__list-item-title">Smart Doorbells</span></a></li>
									</ul>
								</li>
								<li class="navbar__inner-list-item"><a href="/categories/smart-home-systems/"><span class="navbar__list-item-title">Smart Home Systems</span></a>
									<ul class="navbar__inner-list">
											<li class="navbar__inner-list-item"><a href="/subcategories/amazon-alexa-devices/"><span class="navbar__list-item-title">Amazon Alexa Devices</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/apple-homekit-devices/"><span class="navbar__list-item-title">Apple Homekit Devices</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/belkin-wemo-devices/"><span class="navbar__list-item-title">Belkin Wemo Devices</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/google-home-devices/"><span class="navbar__list-item-title">Google Home Devices</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/lutron-products/"><span class="navbar__list-item-title">Lutron Products</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/nest-products/"><span class="navbar__list-item-title">Nest Products</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/philips-hue-products/"><span class="navbar__list-item-title">Philips Hue Products</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/samsung-smartthings-devices/"><span class="navbar__list-item-title">Samsung Smart Devices</span></a></li>
											<li class="navbar__inner-list-item"><a href="/subcategories/wink-products/"><span class="navbar__list-item-title">Wink Products</span></a></li>
									</ul>
								</li>
								<li class="navbar__inner-list-item"><a class="{% if request.path == collections_list_url %}{% endif %}" href="{{ collections_list_url }}"><span class="navbar__list-item-title">Collections</span></a>
									<ul class="navbar__inner-list">
											<li class="navbar__inner-list-item"><a href="/collections/apple-accessories/"><span class="navbar__list-item-title">Apple Accessories</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/samsung-accessories/"><span class="navbar__list-item-title">Samsung Accessories</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/smart-garden/"><span class="navbar__list-item-title">Smart Garden</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/smart-security-systems/"><span class="navbar__list-item-title">Smart security systems</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/gaming-gadgets/"><span class="navbar__list-item-title">Gaming Gadgets</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/kids-gadgets/"><span class="navbar__list-item-title">Kids Gadgets</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/fun-gadgets/"><span class="navbar__list-item-title">Fun Gadgets</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/storage-devices/"><span class="navbar__list-item-title">Storage Devices</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/office-gadgets/"><span class="navbar__list-item-title">Office Gadgets</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/sport-outdoor/"><span class="navbar__list-item-title">Sport & Outdoor</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/travel-gadgets/"><span class="navbar__list-item-title">Travel Gadgets</span></a></li>
											<li class="navbar__inner-list-item"><a href="/collections/pet-gadgets/"><span class="navbar__list-item-title">Pet Gadgets</span></a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="navbar__list-item"><span class="navbar__list-item-title">Smart Home Systems</span></li>
					</ul>
				</div>
				<div class="top-navigation__search-input">
					<div class="search-input">
            {% include 'search/snippets/form.html' %}
					</div>
				</div>
				<div class="top-navigation__links">
					<a href="{{ about_url }}">About us</a>
				</div>
				<div class="top-navigation__account">
					<div class="top-navigation__account-help"><a class="button-dialog-form" href="#dialog-form">Help</a></div>
					<div class="dialog_container white-popup-block mfp-hide" id="dialog-form">
					<div class="dialog_title">
						<h3>Describe your issue</h3>
					</div>
					<div class="dialog_content">
						<div class="form-container">
							<form>
								<div class="form-control-row"><span class="input">
										<input class="input__field" id="name" type="text">
										<label class="input__label" for="name"><span class="input__label-content">First name</span>
										</label></span></div>
								<div class="form-control-row"><span class="input">
										<input class="input__field" id="email" type="text">
										<label class="input__label" for="email"><span class="input__label-content">E-mail</span>
										</label></span></div>
								<div class="form-control-row"><span class="input">
										<input class="input__field" id="subject" type="text">
										<label class="input__label" for="subject"><span class="input__label-content">Subject</span>
										</label></span></div>
								<div class="form-control-row"><span class="input textarea">
										<textarea class="input__field" id="message" type="text"></textarea>
										<label class="input__label" for="message"><span class="input__label-content">Message</span>
										</label></span></div>
							</form>
						</div>
					</div>
					<div class="dialog_buttons">
						<button class="button button_primary" type="submit">Submit</button>
					</div>
				</div>
				{% if request.user.is_authenticated %}
					<div class="top-navigation__account-login">
						<a class="top-navigation__action-button" href="{{ account_url }}">Account</a>
					</div>
					<div class="top-navigation__account-signin">
						<a class="top-navigation__action-button" href="{{ logout_url }}">Logout</a>
					</div>
 				{% else %}
					<div class="top-navigation__account-login">
						<a class="top-navigation__action-button" href="{{ login_url }}">Log in</a>
					</div>
					<div class="top-navigation__account-signin">
						<a class="top-navigation__action-button" href="{{ register_url }}">Sign up</a>
					</div>
				{% endif %}
				</div>
			</div>
			<div class="bottom-navigation">
				<div class="container">
					<div class="bottom-navigation__container">
						<div class="bottom-navigation__logo animated rotateIn"><a href="{{ home_url }}"><img class="icon" src="{% static 'img/new-logo.svg' %}"></a></div>
						<div class="bottom-navigation__menu">
							<div class="bottom-navigation__menu">
							<ul class="bottom-navigation__menu-list" id="top-navbar-list">
								<li class="bottom-navigation__menu-list-item"><a class="navbar__list-item-title" href="#"><span>All products</span>
										<div class="nav-arrow"></div></a>
										<div class="bottom-navigation__menu-dropdown-container">
											<ul class="dropdown-container__list" id="bottom-navbar-list">
												<li class="dropdown-container__list-item"><a class="dropdown-container__inner-list-item-title" href="#"><span>Computers and Tablets</span></a>
													<ul class="dropdown-container__inner-list">
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/laptops/"><span>Laptops</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="#"><span>Dekstop Computers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/tablets/"><span>Tablets</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/digital-paper-tablets/"><span>Digital Paper Tablets</span></a></li>
													</ul>
												</li>
												<li class="dropdown-container__list-item"><a class="dropdown-container__inner-list-item-title" href="/categories/cameras/"><span>Сameras</span></a>
													<ul class="dropdown-container__inner-list">
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/dslr-cameras/"><span>DSLR Cameras</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/360-cameras/"><span>360 Cameras</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/digital-cameras/"><span>Digital Cameras</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/camcorders/"><span>Camcorders</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/waterproof-cameras/"><span>Waterproof Cameras</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/4k-video-cameras/"><span>4K Video Cameras</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/action-cameras/"><span>Action Cameras</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/instant-cameras/"><span>Instant Cameras</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/camera-accessories/"><span>Camera Accessories</span></a></li>
													</ul>
												</li>
												<li class="dropdown-container__list-item"><a class="dropdown-container__inner-list-item-title" href="/categories/personal-transportation/"><span>Personal Transportation</span></a>
													<ul class="dropdown-container__inner-list">
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/hoverboards/"><span>Hoverboards</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/segways/"><span>Segways</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/electric-bikes/"><span>Electric Bikes</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/electric-scooters/"><span>Electric Scooters</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/electric-skateboards/"><span>Electric Skateboards</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/monowheels/"><span>Electric Unicycle</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/electric-motorcycles/"><span>Electric Motorcycles</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/hoverbikes/"><span>Hoverbikes</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/electric-surfboard/"><span>Electric Surfboard</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/electric-mini-bikes/"><span>Electric Mini Bikes</span></a></li>
													</ul>
												</li>
												<li class="dropdown-container__list-item"><a class="dropdown-container__inner-list-item-title" href="/categories/health-fitness-gadgets/"><span>Health & Fitness</span></a>
													<ul class="dropdown-container__inner-list">
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/fitness-trackers/"><span>Fitness Trackers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/sleep-trackers/"><span>Sleep Trackers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/body-fat-scale/"><span>Body Fat Scale</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/sleep-gadgets/"><span>Sleep Gadgets</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/stress-relief-gadgets/"><span>Stress Relief Gadgets</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/beauty-devices/"><span>Beauty Devices</span></a></li>
													</ul>
												</li>
												<li class="dropdown-container__list-item"><a class="dropdown-container__inner-list-item-title" href="/categories/wearable-devices/"><span>Wearable Devices</span></a>
													<ul class="dropdown-container__inner-list">
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/gps-trackers/"><span>GPS Trackers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/sport-watches/"><span>Sport Watches</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/smart-glasses/"><span>Smart Glasses</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/smart-helmets/"><span>Smart Helmets</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/wearsafes/"><span>Wearsafe</span></a></li>
													</ul>
												</li>
												<li class="dropdown-container__list-item"><a class="dropdown-container__inner-list-item-title" href="/categories/audio-devices/"><span>Audio Devices</span></a>
													<ul class="dropdown-container__inner-list">
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/sound-bars/"><span>Sound Bars</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/speakers/"><span>Speakers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/wireless-headphones/"><span>Wireless Headphones</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/over-ear-headphones/"><span>Over Ear Headphones</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/earbuds/"><span>Earbuds</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/speaker-systems/"><span>Speaker Systems</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/outdoor-speakers/"><span>Outdoor Speakers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/computer-speakers/"><span>Computer Speakers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/wireless-audio-receivers/"><span>Wireless Audio Receivers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/sport-headphones/"><span>Sport Headphones</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/kids-headphones/"><span>Kids Headphones</span></a></li>
													</ul>
												</li>
												<li class="dropdown-container__list-item"><a class="dropdown-container__inner-list-item-title" href="/categories/3d-printers/"><span>3D Printers</span></a>
													<ul class="dropdown-container__inner-list">
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/3d-pens/"><span>3D Pens</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/desktop-3d-printers/"><span>Desktop 3D Printers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/3d-printers-kits/"><span>3D Printers Kits</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/industrial-3d-printers/"><span>Industrial 3D Printers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/mini-3d-printer/"><span>Mini 3D Printers</span></a></li>
													</ul>
												</li>
												<li class="dropdown-container__list-item"><a class="dropdown-container__inner-list-item-title" href="/categories/solar-products/"><span>Solar Products</span></a>
													<ul class="dropdown-container__inner-list">
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/solar-lights/"><span>Solar Lights</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/solar-garden-lights/"><span>Solar Garden Lights</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/solar-phone-chargers/"><span>Solar Phone Chargers</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/solar-lanterns/"><span>Solar Lanterns</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/solar-oven/"><span>Solar Oven</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/solar-backpacks/"><span>Solar Backpacks</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/solar-bluetooth-speaker/"><span>Solar Bluetooth Speaker</span></a></li>
													</ul>
												</li>
												<li class="dropdown-container__list-item"><a class="dropdown-container__inner-list-item-title" href="/categories/exoskeletons-prosthetics/"><span>Exoskeletons and Prosthetics</span></a>
													<ul class="dropdown-container__inner-list">
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/prosthetic-arms/"><span>Prosthetic Arms</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/prosthetic-legs/"><span>Prosthetic Legs</span></a></li>
														<li class="dropdown-container__inner-list-item"><a class="dropdown-container__inner-list-item-title" href="/subcategories/industrial-exoskeletons/"><span>Industrial Exoskeletons</span></a></li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
								<li class="bottom-navigation__menu-list-item"><a class="navbar__list-item-title" href="/categories/smart-home/"><span>Smart Home</span>
										<div class="nav-arrow"></div></a></li>
								<li class="bottom-navigation__menu-list-item"><a class="navbar__list-item-title" href="/categories/phones-and-accessories/"><span>Smartphones</span>
										<div class="nav-arrow"></div></a></li>
								<li class="bottom-navigation__menu-list-item"><a class="navbar__list-item-title" href="/categories/drones/"><span>Drones</span>
										<div class="nav-arrow"></div></a></li>
								<li class="bottom-navigation__menu-list-item"><a class="navbar__list-item-title" href="/categories/robots/"><span>Robots</span>
										<div class="nav-arrow"></div></a>
								</li>
								<li class="bottom-navigation__menu-list-item"><a class="navbar__list-item-title" href="/collections/"><span>Collections</span>
										<div class="nav-arrow"></div></a></li>
							</ul>
						</div>
						</div>
						<div class="bottom-navigation__search-input">
							<div class="search-input">
								{% include 'search/snippets/form.html' %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
