{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block seo_description %}About 4Prototypes. Find necessary hi-tech product easy and comfortable. Easily search, find and buy — all with a few clicks. See product rankings and comments to decide on buying. Join 4Prototypes community now.{% endblock %}
{% load static %}
{% block content %}
<div class="about-header"><img src="{% static 'img/about_bg.png' %}">
			<div class="about-header_logo"><img class="icon" src="{% static 'img/logo-white.svg' %}">
				<h1>About Us</h1>
			</div>
		</div>
		<section class="section">
			<div class="container">
				<div class="section-content">
					<p>4Prototypes is a project where advanced technologies meet real people. As hi-tech enthusiasts we bring you all the cutting edge products with an easy and fun attitude. No need to struggle through endless data sheets, just customize your newsfeed to your interests and get a top-notch of the topics. </p>
					<h3 class="about-subtitle">THE ISSUE WE COVER INCLUDE:</h3>
					<div class="collections_grid about-items_grid">
						<div class="item">
							<div class="item_link">
								<svg class="icon">
									<use xlink:href="#nav_smarthome-systems"></use>
								</svg><span>Smart Home Devices</span>
							</div>
						</div>
						<div class="item">
							<div class="item_link">
								<svg class="icon">
									<use xlink:href="#nav_robots"></use>
								</svg><span>Robotics</span>
							</div>
						</div>
						<div class="item">
							<div class="item_link">
								<svg class="icon">
									<use xlink:href="#nav_drones"></use>
								</svg><span>Unmanned aerial vehicles</span>
							</div>
						</div>
						<div class="item">
							<div class="item_link">
								<svg class="icon">
									<use xlink:href="#nav_transport"></use>
								</svg><span>Smart Transport</span>
							</div>
						</div>
						<div class="item">
							<div class="item_link">
								<svg class="icon">
									<use xlink:href="#nav_phones"></use>
								</svg><span>Phones & Accessories</span>
							</div>
						</div>
						<div class="item">
							<div class="item_link">
								<svg class="icon">
									<use xlink:href="#nav_health"></use>
								</svg><span>Health & Fitness Gadgets</span>
							</div>
						</div>
					</div>
					<p class="about-grid-footer">AND LOTS OF OTHERS</p>
				</div>
			</div>
		</section>
		<section class="section section-cta about-cta">
			<div class="container">
				<div class="about-cta_block">
					<div class="about-cta_title">
						<h2>OUR MISSION</h2>
						<div class="about-cta_dash"></div>
					</div>
					<div class="about-cta_description">
						<p>Our mission is to inspire and gather around people sharing passion to improvement, so 4Prototype is also a society based on your personal experience. Share your reviews in an open-minded environment and get level-ups for your expertise!</p>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="about-cta_block black">
					<div class="about-cta_title">
						<div class="about-cta_dash black"></div>
					</div>
					<div class="about-cta_description">
						<p>And lust but not least 4Prototype is a convenient marketplace where top manufacturers will bring your directly their best products.</p>
					</div>
				</div>
				<div class="about-cta_block black">
					<div class="about-cta_title">
						<div class="about-cta_dash black"></div>
					</div>
					<div class="about-cta_description">
						<p>We will provide you with all the tools and information to ensure the smart choice of your smart devices.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="section-content">
					<h3 class="about-subtitle">OUR TEAM</h3>
					<div class="team-members_grid">
						<div class="team-members_card"><img src="{% static 'img/team-avatar.png' %}"><span class="team-members_name">Alex Rozhanskiy</span>
							<div class="team-members_subtitle"><span class="team-members_position">Founder & CEO</span><span class="team-members_location">Kyiv, Ukraine</span></div>
							<div class="footer-social-column">
								<div class="footer-social-column-links d-flex"><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_linkedin"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_twitter"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_facebook"></use>
										</svg></a></div>
							</div>
						</div>
						<div class="team-members_card"><img src="{% static 'img/team-avatar.png' %}"><span class="team-members_name">Alex Rozhanskiy</span>
							<div class="team-members_subtitle"><span class="team-members_position">Founder & CEO</span><span class="team-members_location">Kyiv, Ukraine</span></div>
							<div class="footer-social-column">
								<div class="footer-social-column-links d-flex team-members_social"><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_linkedin"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_twitter"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_facebook"></use>
										</svg></a></div>
							</div>
						</div>
						<div class="team-members_card"><img src=" {% static 'img/team-avatar.png' %}"><span class="team-members_name">Alex Rozhanskiy</span>
							<div class="team-members_subtitle"><span class="team-members_position">Founder & CEO</span><span class="team-members_location">Kyiv, Ukraine</span></div>
							<div class="footer-social-column">
								<div class="footer-social-column-links d-flex"><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_linkedin"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_twitter"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_facebook"></use>
										</svg></a></div>
							</div>
						</div>
						<div class="team-members_card"><img src=" {% static 'img/team-avatar.png' %}"><span class="team-members_name">Alex Rozhanskiy</span>
							<div class="team-members_subtitle"><span class="team-members_position">Founder & CEO</span><span class="team-members_location">Kyiv, Ukraine</span></div>
							<div class="footer-social-column">
								<div class="footer-social-column-links d-flex"><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_linkedin"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_twitter"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_facebook"></use>
										</svg></a></div>
							</div>
						</div>
						<div class="team-members_card"><img src=" {% static 'img/team-avatar.png' %}"><span class="team-members_name">Alex Rozhanskiy</span>
							<div class="team-members_subtitle"><span class="team-members_position">Founder & CEO</span><span class="team-members_location">Kyiv, Ukraine</span></div>
							<div class="footer-social-column">
								<div class="footer-social-column-links d-flex"><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_linkedin"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_twitter"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_facebook"></use>
										</svg></a></div>
							</div>
						</div>
						<div class="team-members_card"><img src=" {% static 'img/team-avatar.png' %}"><span class="team-members_name">Alex Rozhanskiy</span>
							<div class="team-members_subtitle"><span class="team-members_position">Founder & CEO</span><span class="team-members_location">Kyiv, Ukraine</span></div>
							<div class="footer-social-column">
								<div class="footer-social-column-links d-flex"><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_linkedin"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_twitter"></use>
										</svg></a><a href="#" target="blank">
										<svg class="icon">
											<use xlink:href="#icon_facebook"></use>
										</svg></a></div>
							</div>
						</div>
					</div>
				</div>
				<p class="center">So you are geek enought to go up the community ladder, searching for a smart solution for your life or just want to make the first step in the world of high technologies - 4Prototype is a right place for you!</p>
			</div>
		</section>
{% endblock %}
