<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-row mt-4">
          {{ form.non_field_errors }}
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 363px;" for="{{ form.id_title }}">{{ form.title }}</label>
            </div>
            <div class="form-group mt-5">
              <label style="width: 363px;" for="{{ form.id_amazon }}">{{ form.amazon }}</label>
            </div>
            <div class="form-group">
              <label style="width: 363px;" for="{{ form.id_bestbuy }}">{{ form.bestbuy }}</label>
            </div>
            <div class="form-group">
              <label style="width: 363px;" for="{{ form.id_official }}">{{ form.official }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label for="{{ form.id_short_description }}">{{ form.short_description }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label for="{{ form.id_full_description }}">{{ form.full_description }}</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-xl-4">
            <div class="form-group">
              <label for="{{ form.id_category }}">{{ form.category }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label for="{{ form.id_subcategory }}">{{ form.subcategory }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label for="{{ form.id_collection }}">{{ form.collection }}</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_video1 }}">{{ form.video1 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_video2 }}">{{ form.video2 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_video3 }}">{{ form.video3 }}</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image }}">{{ form.image }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image1 }}">{{ form.image1 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image2 }}">{{ form.image2 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image3 }}">{{ form.image3 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image4 }}">{{ form.image4 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image5 }}">{{ form.image5 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image6 }}">{{ form.image6 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image7 }}">{{ form.image7 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image8 }}">{{ form.image8 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label style="width: 300px;" for="{{ form.id_image9 }}">{{ form.image9 }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label type="file" style="width: 300px;" for="{{ form.id_image10 }}">{{ form.image10 }}</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-xl-4">
            <div class="form-group">
              <label for="{{ form.id_price }}">{{ form.price }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label for="{{ form.id_active }}">{{ form.active }}</label>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <label for="{{ form.id_publish_date }}">{{ form.publish_date }}</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-xl-8 offset-xl-2">
            <div class="form-group">
              <label for="{{ form.id_overview }}">{{ form.overview }}</label>
            </div>
          </div>
        </div>
        <button class="btn btn-success" type="submit" value="{% if submit_btn %}{{ submit_btn }}{% else %}Submit{% endif %}">Add product</button>
      </form>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-xl-12">
      <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
        {{ product_form.as_p }}
        <input class="mt-2 mb-5" type="submit" value="{% if submit_btn %}{{ submit_btn }}{% else %}Submit{% endif %}">
      </form>
    </div>
  </div>
</div> -->
