{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      {% if key %}
      <h4 class="mt-5 mb-5 text-center">Activation error. Please try again later!</h4>
      {% else %}
      <h4 class="mt-5 mb-5 text-center">Reacivate your email below.</h4>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <form method="POST" action="">{% csrf_token %}
        {{ form.as_p}}
        <button class="btn btn-primary" type="submit" value="Resend Activation">Reactivate Email</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
