{% extends "base.html" %}
{% block content %}
<div class='row'>
  <div class="col-xl-12">
    <h1 class=" text-center mb-5 mt-5">Change your Password</h1>
  </div>
</div>
<div class="row">
  <div class='col-md-4 col-10  mx-auto'>
    <form method='post' action=''>{% csrf_token %}
       {{ form.as_p }}
    <button type="submit" class='btn btn-primary'>Save New Password</button>
    </form>
  </div>
</div>
{% endblock %}
