{% extends "base.html" %}

{% block content %}
{% if not billing_profile %}
    <div class="row text-center mt-5">
      <div class="col-6">
        <p class="lead">Login</p>
        {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
      </div>
      <div class="col-6">
        <p class="lead">Continue as quest</p>
        {% url "guest_register" as guest_register_url %}
        {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
      </div>
    </div>
{% else %}
  {% if not object.shipping_address %}
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <p class="lead">Shipping address</p>
          <div class="col-6">
            {% url "checkout_address_create_view" as checkout_address_create_view %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create_view address_type='shipping' %}
          </div>
          <div class="col-6">
            {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri %}
          </div>
      </div>
    </div>
  {% elif not object.billing_address %}
      <div class="row">
        <div class="col-12">
          <p class="lead">Billing address</p>
            {% url "checkout_address_create_view" as checkout_address_create_view %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create_view address_type='billing' %}
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-12 mt-5">
          <h3 class="text-center">Finalize Checkout</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5">
          <p>Cart total: $ {{ object.cart.total }}</p>
          <p>Shipping total: $ {{ object.shipping_total }}</p>
          <p>Order total: $ {{ object.total }}</p>
        </div>
      </div>
      </div>
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
