{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h3 class="text-center">Cart</h3>
    </div>
  </div>
  {% if cart.products.exists %}
    <div class="row">
      <div class="col-12 mt-5">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Product SKU</th>
              <th scope="col">Product name</th>
              <th scope="col">Short description</th>
              <th scope="col">Product price</th>
            </tr>
          </thead>
          <tbody>
            {% for product in cart.products.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
              </td>
              <td>{{ product.short_description }}</td>
              <td>$ {{ product.price }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="3"></td>
              <td><b>Subtotal:</b> {{ cart.subtotal }} $</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td><b>Total:</b> {{ cart.total }} $</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td><a class="btn btn-success" href="{% url 'cart:checkout' %}">Checkout</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
  <p class="lead">Cart is empty</p>
  {% endif %}
</div>

{% endblock %}
