{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block seo_description %}4Prototypes categories. Find necessary hi-tech product easy and comfortable. Easily search, find and buy — all with a few clicks. See product rankings and comments to decide on buying. Join 4Prototypes community now.{% endblock %}
{% block content %}
{% for object in object_list %}
    <section class="section">
			<div class="section-container carousel-section">
				<div class="container">
					<div class="section-content">
						<div class="thumb-container"><img class="thumb-container_thumb" src="assets/img/carousel-section_mobile.jpg" title="Smart Home"></div>
						<div class="section-content_description-column">
  							<div class="description-column-content">
  								<div class="description-column-content-top">
  									{% if object.title %}<h2>{{ object.title }}</h2>{% endif %}
  									{% if object.full_description %}<p>{{ object.full_description }}</p>{% endif %}
  								</div>
  								<a href="{{ object.get_absolute_url }}" class="description-column-content-button">Discover more
  									<svg class="icon">
  										<use xlink:href="#pixel_arrow"></use>
  									</svg>
  								</a>
  							</div>
						</div>
						<div class="section-content_carousel-container">
							<div class="inner_carousel owl-carousel owl-theme">
                {% for qs in object.primary_category.all|slice:":4" %}
                  {% include 'products/snippets/card.html' with object=qs %}
                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="section">
      <div class="container">
        <div class="section-content">
          <div class="products_grid">
            {% for qs in object.primary_category.all|slice:":8" %}
              {% include 'products/snippets/card.html' with object=qs %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
{% endblock %}
