<div class="card mt-5" style="width: 15rem;">
  {% if object.image %}
      <a href="{{ object.get_absolute_url }}">
          <img class="card-img-top" src="{{ object.image.url }}" alt="{{ object.title }}">
      </a>
  {% endif %}
  <div class="card-body">
    {% if object.title %}<h5 class="more__title">{{ object.title }}</h5>{% endif %}
    <a href="{{ object.get_absolute_url }}" class="btn btn-primary">discovery</a>
  </div>
</div>
