{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block seo_description %}{{ object.title }} for sale. Find necessary hi-tech product easy and comfortable. Find the device you need in a few seconds. Look through the reviews and read product descriptions to make the right buying decision. Choose 4Prototypes and purchase smart products with ease.{% endblock %}
{% block content %}
{% load static %}

<div class="header-container">
  <div class="container">
    <div class="header-container_breadcrumbs-title" id="breadcrumbs-title"><span>Smart Home</span></div>
    <ul class="header-container_breadcrumbs-list" id="breadcrumbs-list">
      <li class="header-container_breadcrumbs-list-item"><a href="/">Main page</a></li>
      <li class="header-container_breadcrumbs-list-item"><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></li>
      <li class="header-container_breadcrumbs-list-item"><a href="{{ object.subcategory.get_absolute_url }}">{{ object.subcategory }}</a></li>
      <li class="header-container_breadcrumbs-list-item"><a href="#">{{ object.title }}</a></li>
    </ul>
  </div>
</div>
<section class="section section_product">
  <div class="container">
    <div class="single_product-card">
      <div class="single_product-section">
        <div class="gallery-container">
          <div class="ubislider-image-container left" id="imageSlider4" data-ubislider="#slider4">
            <div class="gallery-item_caption"><span>Mouse over to zoom in</span></div>
          </div>
          <div class="ubislider left" id="slider4">
            <ul class="ubislider-inner" id="gal1">
              {% if object.image_set.count > 0 %}
                {% for photo in object.image_set.all %}
                  <li><a><img class="product-v-img" src="{{ photo.image.url }}" alt=""></a></li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="description_container">
          <div class="description_head">
            <div class="description_head-logo-container">
              <div class="description_head-logo"><img class="brand" src="{% static 'img/new-logo.svg' %}" alt=""></div>
            </div>
            <div class="description_head-title-container">
              <div class="description_head-title">
                <h1>{{ object.title|truncatewords:12 }}</h1>
              </div>
              <div class="description_head-rating">
              </div>
            </div>
          </div>
          <div class="description_content">
            <div class="description_content-block">
              <div class="content-block_section">
                <div class="pricing_block">
                  <div class="pricing-section_prices">
                    <div class="pricing-section-prices_top">
                      <div class="pricing-section_top-label"><span>Price:</span></div>
                      <div class="pricing-section_top-value"><span>${{ object.price }}</span></div>
                    </div>
                  </div>
                  <div class="pricing-section_actions">
                    {% if object.official %}
                    <button class="pricing-section-actions_button black">
                      <a class="title" rel="nofollow" target="_blank" href="{{ object.official }}">Via official</a>
                    </button>
                    {% endif %}
                    {% if object.amazon %}
                    <button class="pricing-section-actions_button">
                      <div class="logo">
                        <svg class="icon">
                          <use xlink:href="#amazon_logo"></use>
                        </svg>
                      </div><a class="title" rel="nofollow" target="_blank" href="{{ object.amazon }}">Buy it on Amazon</a>
                    </button>
                    {% endif %}
                  </div>
                </div>
                <div class="content-block_section-item">
                  <h5>About the product</h5>
                  <div class="content-block_section-text">
                    <p>{{ object.full_description|linebreaks }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="single_product-section">
        <div class="rating_block"><span class="grid"></span>
          <div class="rating_block-row">
          </div>
        </div>
      </div>
    </div>
    <div class="single_product-video">
      <div class="video-block">
        <div class="video-block_title">
          <h2>Best video reviews</h2>
        </div>
        {% if object.video_set.count > 0 %}
          <div class="video-block_slider">
            <div class="video-block_slider-carousel owl-carousel">
                {% for vid in object.video_set.all %}
                  <div class="item">
                    {{ vid.embed_code|safe }}
                  </div>
                {% endfor%}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
      <section class="single_product-tabs">
        <div class="tabs_container single_product-tabs_container">
          <div class="tabs">
            <ul class="tabs_navigation" data-tabgroup="first-tab-group">
              <li><a class="active" href="#tab1">Overview</a></li>
              {% if object.specs %}<li><a href="#tab3">Tech specs</a></li>{% endif %}
            </ul>
          </div>
          <div class="tabgroup" id="first-tab-group">
            <div class="tabgroup_content" id="tab1">
              <div class="overview-section">
                <div class="overview-section_description">
                  {% if object.overview %}
                  <div class="overview-section_description-text">
                    <p>{{ object.overview|safe }}</p>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% if object.specs %}
              <div class="tabgroup_content" id="tab3">
                <p>{{ object.specs|safe }}</p>
              </div>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
    <section class="section">
      <div class="container">
        <div class="section-title">
          <h2>Collections</h2>
        </div>
        <div class="section-content">
          <div class="collections_grid">
            {% for collection in collections %}
              {% include 'selections/snippets/card-collections.html' with object=collection %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    </div>
  </section>
{% endblock %}
