{% block content %}
<div class="container">
  <div class="row mt-5">
    {% for object in object_list %}
    <div class="products-list-container d-flex">
      <div class="col-xl-3 col-12 mt-5">
        {% include 'products/snippets/card.html' %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
