{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h5 class="text-center my-5">Account</h5>
    </div>
    <div class="col-xl-12">
      <p class="mb-5">Hello, {{ request.user.full_name }}</p>
    </div>
    <div class="col-xl-4">
      <ul class="list-group mb-5">
        <li class="list-group-item"><a href="{% url 'account:user-update' %}">Name</a></li>
        <li class="list-group-item"><a href="{% url 'password_change' %}">Change password</a></li>
      </ul>
    </div>
    <div class="col-xl-4">
      <ul class="list-group mb-5">
        <li class="list-group-item"><a href="#">Payment methods</a></li>
        <li class="list-group-item"><a href="#">Viewed products</a></li>
      </ul>
    </div>
    <div class="col-xl-4">
      <ul class="list-group mb-5">
        <li class="list-group-item"><a href="{% url 'about' %}">About us</a></li>
        <li class="list-group-item"><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
