{% extends "base.html" %}
{% block content %}
<div class="form_section">
  <div class="form_container">
    <div class="form_container-title login">
      <p>Hello there,</p>
      <p>welcome to 4Prototypes</p>
    </div>
    <div class="form_control-row">
      <form method="POST"> {% csrf_token %}
          <div class="form_control-row">
            <span class="input">
              <input type="text" name="email" class="input__field" required="" id="id_email">
              <label class="input__label" for="login"><span class="input__label-content">Email</span></label>
            </span>
          </div>
          <div class="form_control-row">
            <span class="input">
              <input type="password" name="password" class="input__field" required="" id="id_password">
              <label class="input__label" for="password"><span class="input__label-content">Password</span></label>
            </span>
          </div>
        <div class="form_control-row link"><a href="{% url 'password_reset' %}">Forgot your password?</a></div>
        <div class="form_control-row"><button type="submit" class="load-more_button submit gray">Sign in</button></div>
        <div class="form_control-row">
          <p class="form-description-text bottom">Don’t have an account?</p>
        </div>
        <div class="form_control-row"><a class="button_sign-up" href="/register/">Sign Up</a></div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
