{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center mt-5">Register</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mt-3">
        <form method="POST"> {% csrf_token %}
          <div class="form-group">
            {{ form }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
