{% extends "base.html" %}
{% block title %}{{ object.title }}: Find Necessary Hi-Tech Product Easy{% endblock %}
{% block seo_description %}{{ object.title }}. Find necessary hi-tech product easy and comfortable. Easily search, find and buy a smart product, — all with a few clicks. See product rankings and comments to decide on buying it. Join 4Prototypes community now.{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-4 text-center">
                <h1>{{ object.title }}</h1>
            </div>
        </div>
    </div>
    <section class="section">
      <div class="container">
    		<div class="section-content">
    			<div class="products_grid">
            {% for item in products %}
              {% include 'products/snippets/card.html' with object=item %}
            {% endfor %}
    			</div>
    		</div>
    	</div>
    </section>
    <section class="section">
      <div class="section-container section-content">
        <div class="container container_narrow">
          {% if object.seo_text %}
            {{ object.seo_text|safe }}
          {% endif %}
        </div>
      </div>
    </section>
{% endblock %}
