{% extends "base.html" %}
{% block title %}Collections{% endblock %}
{% block seo_description %}4Prototypes collections. Find necessary hi-tech product easy and comfortable. Easily search, find and buy — all with a few clicks. See product rankings and comments to decide on buying. Join 4Prototypes community now.{% endblock %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="section-title">
        <h1>Collections</h1>
      </div>
      <div class="section-content">
        <div class="collections_grid">
          {% for object in object_list %}
            {% include 'selections/snippets/card-collections.html' %}
          {% endfor %}
        </div>
        <!-- <div class="load-more">
          <button class="load-more_button">Load more</button>
        </div> -->
      </div>
    </div>
  </section>
{% endblock %}
