{% extends "base.html" %}
{% block content %}
  <section class="header-container">
    <div class="container">
      <ul class="header-container_breadcrumbs-list">
        <li class="header-container_breadcrumbs-list-item"><a href="#">Main page</a></li>
        <li class="header-container_breadcrumbs-list-item"><a href="#">Search results</a></li>
      </ul>
    </div>
    <div class="header-container_block">
      <div class="header-container_title">
        <h3>You've Searched for:{% if query %} "{{ query }}"{% endif%}</h3>
      </div>
      <div class="search-input gray_style">
        {% include 'search/snippets/alt-form.html' %}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-content">
        <div class="products_grid">
          {% for object in object_list %}
            {% include 'products/snippets/card.html' %}
          {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
