<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h4>Hello,</h4>
      <p>please activate your account for {{ email }} by clicking the link below:</p>
      <p>{{ path }}</p>
      <p>Once you activate, you can login!</p>
      <p>Thank you,</p>
      <p>4Prototypes Media</p>
    </div>
  </div>
</div>
